.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10rem auto;
  padding: 0 3rem;
  max-width: 1100px;
  &__left {
    padding: 0 0.5rem;

    &__photo {
      max-width: 100%;
    }
    &__header {
      font-size: 2rem;
      margin-top: 2rem;
      color: $color-primary;

      :hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    &__paragraph {
      font-size: 2rem;
      color: $color-grey;
      margin-top: 0.5rem;
    }
  }

  &__right {
    padding: 0 0.5rem;

    &__photo {
      max-width: 100%;
    }
    &__header {
      font-size: 1.5rem;
      margin-top: 2rem;
      color: $color-primary;
    }

    &__paragraph {
      font-size: 1.5rem;
      color: $color-grey;
      margin-top: 0.5rem;
    }
  }
}

.mcard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem auto;
  padding: 0 3rem;

  &__left {
    padding: 0 2rem;

    &__photo {
      max-width: 100%;
    }

    &__header {
      font-size: 1.5rem;
      margin-top: 2rem;
      color: $color-primary;
    }

    &__paragraph {
      font-size: 1.5rem;
      color: $color-grey;
      margin-top: 0.5rem;
    }
  }

  &__right {
    padding: 0 2rem;

    &__photo {
      max-width: 100%;
    }

    &__header {
      font-size: 1.5rem;
      margin-top: 2rem;
      color: $color-primary;
    }

    &__paragraph {
      font-size: 1.5rem;
      color: $color-grey;
      margin-top: 0.5rem;
    }
  }
}

.scard {
  width: 30rem;
  margin: auto;

  &__header {
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: left;
    color: $color-primary;
  }

  &__paragraph {
    font-size: 1.5rem;
    color: $color-grey;
    text-align: left;
    margin-top: 0.5rem;
  }
}

.mwidecard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10rem auto;
  max-width: 160rem;
  &__left {
    padding: 0 2rem;

    &__photo {
      max-width: 100%;
    }

    &__header {
      font-size: 1.5rem;
      margin-top: 2rem;
      color: $color-primary;
    }

    &__paragraph {
      font-size: 1.5rem;
      color: $color-grey;
      margin-top: 0.5rem;
    }
  }
}
