.btn {
    width: 20rem;
    height: 3.7rem;
    padding: .4rem;
    border-radius: 100px;
    border: 1px solid #D6DBDF;
    background-color: #fff;
    color: $color-grey;
    font-size: 1.5rem;
    transition: all .4s;
  margin:0 2rem;
  
    
    &:hover {
        border: 1px solid;
        border-radius: 50px;
        background-color: #000;
        color: #fff;
        cursor: pointer;


    }

    &-border {

        border-top: 1px solid #D6DBDF;
        border-bottom: 1px solid #D6DBDF;
        text-align: center;
        padding: 5rem 0;
        margin-top: 3rem;

    }

    &-text {
        margin-bottom: 2rem;
        font-size: 2rem;
    }
}

.subscribe {
    padding: 5rem 0;
    border-bottom: 1px solid #D6DBDF;
    text-align: center;

    &__btn {
        width: 40rem;
        height: 4rem;
        padding: .5rem;
        border-radius: 100px;
        border: 1px solid #D6DBDF;
        background-color: #fff;
        color: $color-grey;
        font-size: 1.5rem;
        transition: all .4s;
        transition: all .4s;

        &:hover {
            border: 1px solid;
            padding: 1rem;
            border-radius: 50px;
            background-color: #000;
            color: #fff;
            cursor: pointer;
        }
    }
}

.brands {
    padding: 3rem 0;
    border-bottom: 1px solid #D6DBDF;

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__text {
        font-size: 1.1rem;
        color: $color-grey;
        margin-top: 1rem;
    }
}

.contact {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 1rem;

    &__left {


        &__list {
            display: flex;
            justify-content: space-between;
            text-align: center;
            list-style: none;

        }

        &__item {
            padding-left: .5rem;
            font-size: 1.1rem;
            color: $color-grey;
            cursor: pointer;
        }
    }

    &__right {
        list-style: none;

        &__list {
            display: flex;
            justify-content: space-between;
            text-align: center;
            list-style: none;
        }

        &__item {
            padding-left: .5rem;
            font-size: 1.1rem;
            color: $color-grey;
            cursor: pointer;
        }
    }
}